name: Latest blog post workflow
on:
  workflow_dispatch:
  push:
  schedule:
    # Runs every hour
    - cron: "0 * * * *"
jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://wjlee-barco.github.io/feed.xml"
          max_post_count: 20
          template: "$newline* `$date` - [$title]($url)"
          date_format: "yyyy-mm-dd"
